body {
  margin: 0;
  padding: 0;
  text-align: center;
}

ion-content {
  --background:  #fff;
  height: 100%;
}

h1 {
  margin-top: 30px;
  font-size: 2rem;
  color: #222;
}

ion-button {
  margin-top: 20px;
  --border-radius: 12px;
  --padding-start: 20px;
  --padding-end:  20px;
  height: 36px; /* Ajuste de altura para evitar esticamento */
}

.tela {
  display: none;
  height: 100%;
}

.tela.ativa {
  display: block;
}

/* Fix for forms to prevent stretching */
form {
  display: flex;
  flex-direction: column;
}

.ion-margin {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  height: auto;
}